<a href="https://colab.research.google.com/github/rawatpremsingh999/Competitive-Programming-/blob/master/program02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sum upto N- numbers**


*  n = 5 then output 1+2+3+4+5 = 15
*  n = 7 then output 1+ 2+ 3+ 4+ 5+ 6+ 7 = 28

In [12]:
def sum1_upto(n):
  # Time Complexity = O(n)
  sum = 0
  for i in range(n+1):
    sum += i
  return sum

def sum2_upto(n):
  # Time Compelexity = O(1)
  return (n * (n+1))//2

if __name__ == "__main__":
  print('Sum Upto (Enter number): ')
  n = int(input())
  print("Sum1 : {}".format(sum1_upto(n)))
  print("Sum2 : {}".format(sum2_upto(n)))

Sum Upto (Enter number):
5
Sum1 : 15
Sum2 : 15